<div class="filter-form">
  <mat-form-field>
    <input matInput (input)="search($any($event.target).value)" placeholder = "Search String">
  </mat-form-field>
</div>

<div class="search-result-container mat-elevation-z8">
  <ng-container *ngIf="loading">
    <mat-progress-spinner
      class="spinner" 
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </ng-container>
  <ng-container *ngIf="isEmpty() && !loading">
    <div class="no-data">
      No Records Found
    </div>
  </ng-container>
  <mat-table *ngIf="!isEmpty() && !loading" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="response">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Results </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.response}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedCol"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedCol;"></mat-row>
  </mat-table>
</div>